@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Padauk:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=UnifrakturCook:wght@700&display=swap');

/* Website Theme Color */
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #17191F;
    --btn-color: #565656;
    --black-text: #06070A;
    --grey-text: #66616F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header & Navigation */
        header {
            padding: 16px 0;
            background-color: transparent;
            /* box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08); */
            border-bottom: 1px solid var(--grey-text);
            position: sticky;
            top: 0;
            z-index: 100;
        }
        
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .logo {
            font-size: 28px;
            font-weight: 800;
            font-family: "UnifrakturCook", cursive;
            color: var(--secondary-color);
            display: flex;
            align-items: center;
            gap: 8px;
        }
        
        .nav-links {
            display: flex;
            list-style: none;
            gap: 35px;
        }
        
        .nav-links a {
            text-decoration: none;
            color: var(--grey-text);
            font-size: 16px;
            font-family: 'Courier New', Courier, monospace;
            transition: all 0.3s ease;
            position: relative;
            padding: 5px 0;
        }
        
        .nav-links a:after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var(--secondary-color);
            transition: width 0.3s ease;
        }
        
        .nav-links a:hover {
            color: var(--secondary-color);
        }
        
        .nav-links a:hover:after {
            width: 100%;
        }